################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LabTp2/x64/Debug
/LabTp2/LabTp2/x64/Debug
/LabTp2/.vs/LabTp2
/.vs
